<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <form [formGroup]="addProduct" (ngSubmit)="onSubmit()" class="w-full max-w-sm p-6 m-10 border border-gray-300 rounded-lg bg-white shadow-lg">
    <h1 class="flex items-center justify-center text-3xl pb-3">Create Product</h1>
    
    <div class="flex flex-col mb-4">
      <mat-form-field class="form-field">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="title" name="title" />
        <mat-error *ngIf="addProduct.get('title')?.hasError('required')">
          Product Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let item of categories" [value]="item">
            {{ item }} 
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" name="price" type="number"/>
        <mat-error *ngIf="addProduct.get('price')?.hasError('required')">
          Price is required
        </mat-error>
        <mat-error *ngIf="addProduct.get('price')?.hasError('min')">
          Minimium price is 0.5
        </mat-error>
      </mat-form-field>
    
      <mat-form-field class="form-field">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" name="description" type="text"/>
        <mat-error *ngIf="addProduct.get('description')?.hasError('required')">
          Description is required
        </mat-error>
        <mat-error *ngIf="addProduct.get('description')?.hasError('maxlength')">
          Max number of charater is 100
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Brand</mat-label>
        <input matInput formControlName="brand" name="brand"/>
        <mat-error *ngIf="addProduct.get('brand')?.hasError('required')">
          Brand is required
        </mat-error>
        <mat-error *ngIf="addProduct.get('brand')?.hasError('maxlength')">
          Max number of charater is 20
        </mat-error>
      </mat-form-field>
      
        <div class="bg-red-100 h-14 text-gray-700 flex flex-row items-center justify-between p-2 rounded-t-md mb-4 border-b-2 border-gray-500" >
          <mat-label>Rating</mat-label>
          <igc-rating value="ratingVal" min="1" max="5" class="text-red-700" (igcChange)="ratingChanged($event);"></igc-rating>
        </div>
        <p *ngIf="addProduct.get('rating')?.touched  && addProduct.get('rating')?.hasError('required')">
          Rating is required
        </p>
      
      <mat-form-field class="form-field">
        <mat-label>Image url</mat-label>
        <input matInput formControlName="images" name="images" />
        <mat-error *ngIf="addProduct.get('images')?.hasError('required')">
          Image is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Stock</mat-label>
        <input matInput formControlName="stock" name="stock" type="number"/>
        <mat-error *ngIf="addProduct.get('rating')?.hasError('required')">
          Stock is required
        </mat-error>
        <mat-error *ngIf="addProduct.get('rating')?.hasError('min')">
          Min must be 1
        </mat-error>
      </mat-form-field>


    <div class="flex flex-col m-4">
      <button mat-stroked-button color="primary" type="submit" [disabled]="!addProduct.valid">
        Create
      </button>
    </div>
    </div>
  </form>
</div>