<div class="details">
    <h1>Block Details</h1>
    <table border="1">
      <tr>
        <!-- <th>Id</th> -->
        <th>Name</th>
        <th>Brand</th>
        <th>Discription</th>
        <th>Created On</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let user of userdetails">
        <!-- <td>{{user.medicationId}}</td> -->
        <td>{{user.name}}</td>
        <td>{{user.brand}}</td>
        <td>{{user.description}}</td>
        <td>{{user.createdDate}}</td>
        <td>
          <button class="btn" (click)="edit(user.medicationId)">Edit</button>
          <button class="btn" (click)="delete(user.medicationId)">Delete</button>
        </td>
      </tr>
    </table>
  </div> 