<!-- 
<div class="example-container">
  <h1>User Form</h1>
  <form [formGroup]="userform" (ngSubmit)="onsubmit()">
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="title" name="title" />
      <mat-error *ngIf="userform.get('title')?.hasError('required')">
        Full Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contact Number</mat-label>
      <input matInput formControlName="body" name="body" />
      <mat-error *ngIf="userform.get('body')?.hasError('required')">
        Contact Number is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="userform.invalid">
      {{editing_mode == true ? 'Update' : 'Submit'}}</button>
      <button (click)="resetForm()">reset</button>
  </form>
</div> -->

<!-- <div class="details">
  <h1>User Details</h1>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Body</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let user of userdetails">
      <td>{{ user.id }}</td>
      <td>{{ user.title }}</td>
      <td>{{ user.body }}</td>
      <td>
        <button class="btn" (click)="edit(user)">Edit</button>
        <button class="btn" (click)="delete(user.id)">Delete</button>
      </td>
    </tr>
  </table>
</div> -->