<h2 mat-dialog-title>Modify cart items</h2>
<mat-dialog-content>
    <div class="flex justify-between items-center p-3 w-auto">
      <div>
        <input type="text" (input)="getSearchResult()" [(ngModel)]="productname" placeholder="Search Products" class="border border-red-300 w-30 rounded-lg py-2 px-6 focus:outline-none focus:ring-2 focus:ring-red-500 focus:border-transparent" />
      </div>
 
     <div>
        <button mat-button (click)="bulkAddToCart()">Add to Cart</button>
        <button mat-button (click)="bulkDeleteFromCart()">Remove from listing</button>
      </div>
    </div>
      
    <table mat-table [dataSource]="dataSource" >

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
      </ng-container>
  
      <!-- category Column -->
      <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price ($)</th>
        <td mat-cell *matCellDef="let element"> {{ element.price | currency : selectedCountry}} </td>
      </ng-container>
    
      <!-- Rating Column -->
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef> Rating </th>
        <td mat-cell *matCellDef="let element"> {{ element.rating }} </td>
      </ng-container>

              <!-- columns for select all and select row -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef> 
                  <mat-checkbox 
                    [checked]="isAllSelected()" 
                    (change)="toggleAllRows($event)">
                  </mat-checkbox>Select
                </th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox 
                    [checked]="selection[element.id]" 
                    (change)="toggleRow(element.id)">
                  </mat-checkbox>
                </td>
              </ng-container>
  
      <!-- Table Header and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Done</button>
</mat-dialog-actions>
