<div class="details">
    <h1>Block Details</h1>
    <table border="1">
      <tr>
        <!-- <th>Id</th> -->
        <th>Floor</th>
        <th>Code</th>
        <th>Created On</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let user of userdetails">
        <!-- <td>{{user.blockId}}</td> -->
        <td>{{user.blockFloor }}</td>
        <td>{{user.blockCode }}</td>
        <td>{{user.createdOn}}</td>
        <td>
          <button class="btn" (click)="edit(user)">Edit</button>
          <button class="btn" (click)="delete(user)">Delete</button>
        </td>
      </tr>
    </table>
  </div> 