<p>This is data databinding</p>
<div class="row">
    <div class="col-4">
       <h2>One way databinding from .ts to.html using interpolation</h2>
        <div class="row">
            <div [class]="myclassname">
                property binding  
              </div>
            <div class="col-4 bg-success">
                {{courseName}}
            </div>
            <div>
                <br>
                <h2>This is two way data binding - Ng module binding</h2>
                <input type="text" [(ngModel)]='courseName'>
                <button (click)="changecoursename()">Change</button>
            </div>
        </div>
    </div>
</div>


<br>
<h2>Using signal</h2>
<div class="col-4">
    <h4>{{firstname()}}</h4>
</div>


<br>
<h2>This is event databinding</h2>
<div class="row">
    <div class="col-4">
       <button (click) ="showAlert('Welcome to Angular 19')">
        Show greet</button>
        <span (click)="showAlert('this is from span tag') ">Click Me</span>
    </div>
</div>



