<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                <h6>Employee List</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr. no</th>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Email id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of emplist; track $index){
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.contactno}}</td>
                                        <td>{{item.emailid}}</td>
                                        <td>{{item.address}}</td>
                                        <td>{{item.pincode}}</td>
                                        <td>{{item.city}}</td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" (click)="edit(item)">Edit</button>
                                            <button class="btn btn-danger" (click)="delete(item)">Delete</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Employee
            </div>
            <div class="card-body">
                <form [formGroup]="employeeform">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Name</label>
                            <input type="text" formControlName="name"  class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Email id</label>
                            <input type="text" formControlName="emailid"  class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact No</label>
                            <input type="number" formControlName="contactno"  class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">City</label>
                            <input type="text" formControlName="city"  class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">State</label>
                            <input type="text" formControlName="state"  class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Pincode</label>
                            <input type="number" formControlName="pincode"  class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Address</label>
                            <textarea name="" id="" formControlName="address"  class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" (click)="save()">Save Employee</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>