<section class="py-24 relative">
    <div  *ngIf=" usercart.length > 0; else emptycart" class="w-full max-w-6xl px-4 md:px-5 lg-6 mx-auto bg-red-50 rounded-xl shadow-lg py-8">

        <h2 class="title font-manrope font-light text-4xl leading-10 mb-8 text-center text-black ">Shopping Cart
        </h2>
        <div class="hidden lg:grid grid-cols-2 py-6">
            <div class="font-normal text-xl leading-8 text-gray-500 ml-5">Product</div>
            <p class="font-normal text-xl leading-8 text-gray-500 flex items-center justify-between">
                <span class="w-full max-w-[400px] text-center">Quantity</span>
                <span class="w-full max-w-[200px] text-center">Total</span>
            </p>
        </div>

        <div *ngFor="let cart of usercart"  class="grid grid-cols-1 lg:grid-cols-2 min-[550px]:gap-6 border-t border-gray-200 py-6">
            <div
                class="flex items-center flex-col min-[550px]:flex-row gap-3 min-[550px]:gap-6 w-full max-xl:justify-center max-xl:max-w-xl max-xl:mx-auto">
                <div class="img-box">
                    <img [src]="cart.image[0]" class="xl:w-[140px] rounded-xl object-cover">
                </div>
                <div class="pro-data w-full max-w-sm ">
                    <h5 class="font-semibold text-xl leading-8 text-black max-[550px]:text-center">
                        {{cart.title}}
                    </h5>
                    <p
                        class="font-normal text-lg leading-8 text-gray-500 my-2 min-[550px]:my-3 max-[550px]:text-center">
                        Perfumes</p>
                    <h6 class="font-normal text-lg leading-8 text-red-500  max-[550px]:text-center">
                        {{cart.price | currency:selectedCurrency}}
                    </h6>
                </div>
            </div>
            <div
                class="flex items-center flex-col min-[550px]:flex-row w-full max-xl:max-w-xl max-xl:mx-auto gap-2">
               
                <div class="flex items-center w-full mx-auto justify-center">
                    <button
                    (click)="remove(cart.id)"
                        class="group rounded-l-full px-6 py-[18px] border border-gray-200 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:border-gray-300 hover:bg-gray-50">
                        <svg class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black"
                            xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                            fill="none">
                            <path d="M16.5 11H5.5" stroke="" stroke-width="1.6" stroke-linecap="round" />
                            <path d="M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6"
                                stroke-linecap="round" />
                            <path d="M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6"
                                stroke-linecap="round" />
                        </svg>
                    </button>
                    <input type="text"
                        class="border-y border-gray-200 outline-none text-gray-900 font-semibold text-lg w-full max-w-[118px] min-w-[80px] placeholder:text-gray-900 py-[15px] text-center bg-transparent"
                        placeholder={{quantity}} />
                    <button
                    (click)="add(cart.id)"
                        class="group rounded-r-full px-6 py-[18px] border border-gray-200 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:border-gray-300 hover:bg-gray-50">
                        <svg class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black"
                            xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                            fill="none">
                            <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-width="1.6"
                                stroke-linecap="round" />
                            <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6"
                                stroke-linecap="round" />
                            <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6"
                                stroke-linecap="round" />
                        </svg>
                    </button>
                </div>
                <h6
                    class="text-red-600 font-manrope font-medium text-2xl leading-9 w-full max-w-[176px] text-center">
                    {{cart.price | currency:selectedCurrency}}</h6>
            </div>
        </div>
        
        <div class="flex items-center flex-col sm:flex-row justify-center gap-3 mt-8">
            <button
            routerLink="/home"
                class="rounded-full py-4 w-full max-w-[280px]  flex items-center bg-red-100 justify-center transition-all duration-500 hover:bg-red-200">
                <span class="px-2 font-semibold text-lg leading-8 text-red-600">Back To Home</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M8.25324 5.49609L13.7535 10.9963L8.25 16.4998" stroke="red" stroke-width="1.6"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
            <button
            routerLink="/buy"
                class="rounded-full w-full max-w-[280px] py-4 text-center justify-center items-center bg-red-500 font-semibold text-lg text-white flex transition-all duration-500 hover:bg-red-600">Buy Now
                <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 23 22"
                    fill="none">
                    <path d="M8.75324 5.49609L14.2535 10.9963L8.75 16.4998" stroke="white" stroke-width="1.6"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
    <ng-template #emptycart>
        <div class="flex flex-col items-center justify-center">
            <p class="text-red-500 font-medium text-3xl mt-16"> No items in the cart</p>
            <h2 class="text-gray-500 font-normal text-lg  p-5">Add products while you shop, so they'll be ready for checkout later.</h2>
            <button
                routerLink="/home"
                    class="rounded-full w-full max-w-[280px] py-4 text-center justify-center items-center bg-red-500 font-semibold text-lg text-white flex transition-all duration-500 hover:bg-red-600">Buy Now
                    <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 23 22"
                        fill="none">
                        <path d="M8.75324 5.49609L14.2535 10.9963L8.75 16.4998" stroke="white" stroke-width="1.6"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
            </button>
        </div>
    </ng-template>
    <ng-template #error>
        <p class="text-red-500 font-normal"> error fetching details </p>
    </ng-template>
</section>
        






